server/src/main/webapp/WEB-INF/wsit-com.rbnr.api.WS_TEST.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="WS_TEST" targetNamespace="http://api.rbnr.com/" xmlns:tns="http://api.rbnr.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="signup"/>
    <message name="signupResponse"/>
    <message name="login"/>
    <message name="loginResponse"/>
    <message name="deleteuser"/>
    <message name="deleteuserResponse"/>
    <message name="updateuser"/>
    <message name="updateuserResponse"/>
    <message name="addfriend"/>
    <message name="addfriendResponse"/>
    <message name="deletefriend"/>
    <message name="deletefriendResponse"/>
    <portType name="WS_TEST">
        <operation name="signup">
            <input message="tns:signup"/>
            <output message="tns:signupResponse"/>
        </operation>
        <operation name="login">
            <input message="tns:login"/>
            <output message="tns:loginResponse"/>
        </operation>
        <operation name="deleteuser">
            <input message="tns:deleteuser"/>
            <output message="tns:deleteuserResponse"/>
        </operation>
        <operation name="updateuser">
            <input message="tns:updateuser"/>
            <output message="tns:updateuserResponse"/>
        </operation>
        <operation name="addfriend">
            <input message="tns:addfriend"/>
            <output message="tns:addfriendResponse"/>
        </operation>
        <operation name="deletefriend">
            <input message="tns:deletefriend"/>
            <output message="tns:deletefriendResponse"/>
        </operation>
    </portType>
    <binding name="WS_TESTPortBinding" type="tns:WS_TEST">
        <operation name="signup">
            <input></input>
            <output></output>
        </operation>
        <operation name="login">
            <input></input>
            <output></output>
        </operation>
        <operation name="deleteuser">
            <input></input>
            <output></output>
        </operation>
        <operation name="updateuser">
            <input></input>
            <output></output>
        </operation>
        <operation name="addfriend">
            <input></input>
            <output></output>
        </operation>
        <operation name="deletefriend">
            <input></input>
            <output></output>
        </operation>
    </binding>
    <service name="WS_TEST">
        <port name="WS_TESTPort" binding="tns:WS_TESTPortBinding"/>
    </service>
</definitions>
